{% extends 'layout.njk' %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url({{intructor.avatar_url}}) no-repeat center center / cover"></section>
        <section class="details">
            <form method="post" action="/instructors?_method=put">

                <h3>Editar instrutor</h3>

                {% include 'instructors/fields.njk' %}

                <input type="hidden" name="id" value="{{instructor.id}}">
            </form>

            <form id="form-delete" action="/instructors?_method=delete" method="post">
                <input type="hidden" name="id" value="{{instructor.id}}">
                <button type="submit">Deletar</button>
            </form>

              <script>
            
                const formDelete = document.querySelector('#form-delete')
                formDelete.addEventListener('submit', function(event) {
                    const confirmation = confirm('Deseja deletar?')
                    if (!confirmation) {
                        event.preventDefault()
                    }
                })

            </script>

        </section>

    </div>

{% endblock content %}